@import url('https://fonts.cdnfonts.com/css/benguiat');
*{
  margin:0;
}
.bar{
    position: fixed;
    width: 100%;
    background-attachment: fixed;
    background-color: #3b586f;
    z-index: 5;

  }
  .bar ul li{
    position:relative;
    list-style:none;
    background-attachment: fixed;
    display: inline-block;
    cursor: pointer;
    z-index: 9;
  }
  .open{
    position: relative;
    z-index: 10;
    background-color: transparent;
    left: 0;
    top: -10px;
}
  .navlogo{
    position: relative;
    padding-bottom: 10px;
    width: 190px;
    max-width: 100%;
    top: 10px;
}
.profile{
  position: relative;
  padding: 0 0 15px 85rem;
  width: 50px;
  max-width: 100%;
  top: 10px;
  height: auto;
}
.name{
  position: relative;
  padding-left: 10px;
  top: -20px;
  font-size: larger;
  color: white;
}



/* The side navigation menu */

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 10; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 40px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    overflow-y: hidden;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 20px 40px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-align: center;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  



  .news{
    position: absolute;
    top: 10%;
    left: 2%;
    font-size: 50px;
  }
  #line{
    position: absolute;
    top: 17%;
    left: 2%;
    width: 70%;
    color: #111;
  }
  #line2{
    position: absolute;
    top: 78%;
    left: 2%;
    width: 70%;
    color: #111;
  }
  .front-image img{
    position: absolute;
    top: 20%;
    left: 5%;
    width: 100%;
    max-width: 1200px;
    height: auto;
  }
  .star img{
    position: absolute;
    width: 100%;
    max-width: 400px;
    height: auto;
    top: 15%;
    right: 2%;
  }
  .title-star{
    position: absolute;
    font-size: 35px;
    top: 10%;
    right: 9%;
  }
  .title-event{
    position: absolute;
    font-size: 50px;
    top: 75%;
    left: 30%;
  }
  .event-container {
    position: absolute;
    left: 2%;
    max-width: 90rem;
    width: 100%;
    height: auto;
  }
  .event-link {
    position: relative;
    top: 50rem;
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: 5px;
    display: block;
    max-block-size: 600px;
    border: #111 solid 2px;
    border-radius: 10px;
  }
  .event-link a {
    position: relative;
    color: white;
    font-family: 'Benguiat', sans-serif;
    text-decoration: none;
    display: flex;
    font-size: 25px;
    color: black;
    border-bottom: 2px solid black;
    padding: 20px 0 5px 5px;
  }

  .event{
    float: left;    
    margin: 0 15px 0 0;
  }
  .announcement-title{
    position: absolute;
    font-size: 35px;
    top: 47%;
    right: 4%;
  }
  .announcement-container {
    position: absolute;
    right:2%;
    max-width: 25rem;
    width: 100%;

  }
  .announcement-link {
    position: absolute;
    z-index: 1;
    top: 30rem;
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: 5px;
    display: block;
    max-block-size: 200px;
    border: #111 solid 2px;
    border-radius: 10px;
  }
  .announcement-link a {
    position: relative;
    color: white;
    font-family: 'Benguiat', sans-serif;
    text-decoration: none;
    display: flex;
    font-size: 25px;
    color: black;
    border-bottom: 2px solid black;
    padding: 10px 0 5px 15px;
  }

  .announcement{
    float: left;    
    margin: 0 15px 0 0;
  }

  .title-winner{
    position: absolute;
    font-size: 35px;
    top: 74%;
    right: 5%;
  }
  .winner-container {
    position: absolute;
    right:2%;
    max-width: 25rem;
    width: 100%;

  }
  .winner-link {
    position: absolute;
    z-index: 1;
    top: 48rem;
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: 5px;
    display: block;
    max-block-size: 500px;
    border: #111 solid 2px;
    border-radius: 10px;
  }
  .winner-link a {
    position: relative;
    color: white;
    font-family: 'Benguiat', sans-serif;
    text-decoration: none;
    display: flex;
    font-size: 25px;
    color: black;
    border-bottom: 2px solid black;
    padding: 10px 0 5px 15px;
  }

  .winner{
    float: left;    
    margin: 0 15px 0 0;
  }


  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }




